{% extends "info_manage/base.html" %}
{% block header %}
    <h3>帮助</h3>
{% endblock header %}
{% block content %}
    <!doctype html>
    <html lang="zh">
    <head>
        <title>help页面</title>
        <style>
            h3 {
                text-align: center;
            }

            div p {
                text-indent: 2em;
                font-size: 16px;
            }

            div span {
                display:block;
            }
        </style>
    </head>
    <body>
    <div>
        <span>
            <h4>1、操作指南</h4>
            <p>第一步：点击左上角登录按钮，输入您的用户名和密码；若是第一次登陆请先注册。</p>
                <p>第二步：第一次进入时系统需要先完善个人信息后方可进行其他操作。</p>
                <p>第三步：按照导航栏提示选择需要查询的相应信息。</p>
                <p>第四步：信息查询完毕后点击注销退出系统。</p>
            </span><br>
        <span>
        <h4>2、常见问题</h4>
            </span><br>
    </div>
    </body>
    </html>
{% endblock content %}