{% extends "info_manage/base.html" %}
{% block header %}
{% endblock header %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <html>
    <head>
        <meta charset="utf-8">
        <title>考试信息</title>
        <style>
            table {
                width: 100%;
                text-align: center;
            }
            table tr {
                height: 40px;
            }
        </style>
    </head>
    <body>
    <h3>考试信息公布</h3><br />
    <div>
        <table border="1">
            <tr style="width: 50px">
                <td>考试名称</td>
                <td>考试时间</td>
                <td>考试地点</td>
                <td>备注</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    </body>
    </html>
{% endblock content %}