{% extends "info_manage/base.html" %}
{% block header %}
{% endblock header %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <html>
    <head>
        <meta charset="utf-8">
        <title>考试信息</title>
    </head>
    <body>
    <div>
        <table border="1">
            <tr>
                <td>考试名称</td>
                <td>考试时间</td>
                <td>考试地点</td>
                <td>备注</td>
            </tr>
            <tr>
                <td>-----------</td>
                <td>----------</td>
                <td>----------</td>
                <td>-----------</td>
            </tr>
        </table>
    </div>
    </body>
    </html>
{% endblock content %}