{% extends "info_manage/base.html" %}
{% block header %}
{% endblock header %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>个人成绩查询</title>
        <style>
            body {
                text-align: center;
            }
            table {
                width: 100%;
            }
            table th {
                text-align: center;
                font-weight: normal;
            }
            table tr {
                height: 40px;
            }
        </style>
    </head>

    <body>
    <h3>个人成绩查询</h3><br />
    <table border="1">
        <tr>
            <th>序号</th>
            <th>学期</th>
            <th>考试科目</th>
            <th>考试类别</th>
            <th>考试时间</th>
            <th>考试成绩</th>
            <th>备注</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
    </body>
    </html>
{% endblock content %}