{% extends "info_manage/base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <html>
    <head>
        <meta charset="utf-8">
        <title>学生个人信息</title>
        <style>
            h3 {
                text-align: center;
            }

            table {
                width: 100%;
                height: 500px;
            }

            div {
                text-align: center;
            }

            .left_info {
                width: 150px;
            }

            .center_info {
                width: 800px;
            }
        </style>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
        <script> //两个页面传值方法
            $(document).ready(function () {
                //使用正则表达式获取url中的参数
                function getUrlParam(name) {
                    //构造一个含有目标参数的正则表达式对象
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                    //匹配目标参数，window.location.search获取页面url
                    var r = window.location.search.substr(1).match(reg);
                    //返回参数值
                    if (r != null) {
                        return unescape(r[2]);
                    }
                }

                var urlData = getUrlParam('data');
                // 将数据填充到input框里面
                $('#stu_id').val(urlData);
            });
        </script>
    </head>

    <body>
    <h3>学生个人信息</h3><br/>
    <div>
        <table border="1">
            <tr>
                <td class="left_info">学号</td>
                <td class="center_info" id="stu_id">{{ stu_id }}</td>
                <td rowspan="4">照片</td>
            </tr>
            <tr>
                <td>姓名</td>
                <td>{{ stu_name }}</td>
            </tr>
            <tr>
                <td>性别</td>
                <td>{{ stu_sex }}</td>
            </tr>
            <tr>
                <td>出生日期</td>
                <td>{{ birth_date }}</td>
            </tr>
            <tr>
                <td>身份证号</td>
                <td>{{ identity_number }}</td>
                <td></td>
            </tr>
            <tr>
                <td>籍贯</td>
                <td>{{ native_place }}</td>
                <td></td>
            </tr>
            <tr>
                <td>入学时间</td>
                <td>{{ admission_time }}</td>
                <td></td>
            </tr>
            <tr>
                <td>家庭住址</td>
                <td>{{ home_address }}</td>
                <td></td>
            </tr>
            <tr>
                <td>院系</td>
                <td>{{ department_name }}</td>
                <td></td>
            </tr>
            <tr>
                <td>班级</td>
                <td>{{ class_name }}</td>
                <td></td>
            </tr>
        </table>
        <br>
    </div>
    <div>
        <button><a href="{% url 'info_manage:modify_stu_info' %}">修改信息</a></button>
    </div>
    <p>{{ rlt }}</p>
    </body>
    </html>
{% endblock content %}