{% extends "info_manage/base.html" %}
{% block header %}
    <h3>草稿箱</h3>
{% endblock header %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>draft_box</title>
        <style>
            h3 {
                text-align: center;
            }

            ul {
                line-height: 27px;
            }
        </style>
    </head>
    <body>
    <div>
        <ul>
            <li><a href="#">一封邮件</a></li>
            <li><a href="#">一封邮件</a></li>
            <li><a href="#">一封邮件</a></li>
            <li><a href="#">一封邮件</a></li>
        </ul>
    </div>
    </body>
    </html>
{% endblock content %}