{% extends "info_manage/base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>IC卡充值</title>
        <style>
            h3 {
                text-align: center;
            }

            table {
                text-align: center;
                width: 100%;
            }

            table tr td {
                height: 40px;
            }

            input {
                width: 100%;
                height: 40px;
            }

            .notes {
                font-size: 16px;
            }
        </style>
    </head>

    <body>
    <h3>IC卡充值</h3><br/>
    <div>
        <table border="1">
            <tr>
                <td style="width: 120px">余额</td>
                <td></td>
            </tr>
            <tr>
                <td>请输入充值金额</td>
                <td>
                    <input type="text" placeholder="请输入...">
                </td>
            </tr>
        </table>
    </div>
    <br><h4>充值记录</h4>
    <div>
        <ul class="notes">
            <li>此处显示充值记录</li>
        </ul>
    </div>
    </body>
    </html>
{% endblock content %}