{% extends "info_manage/base.html" %}
{% block header %}
    <h4>学费管理</h4>
{% endblock header %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>学费管理</title>
    </head>
    <body>
    <div>
        <table border="1">
                <tr>
                    <td>学期</td>
                    <td>是否已缴费</td>
                    <td>支付方式</td>
                    <td>费用</td>
                </tr>
                <tr>
                    <td>----------</td>
                    <td>----------</td>
                    <td>----------</td>
                    <td>----------</td>
                </tr>
        </table>
    </div>
    </body>
    </html>
{% endblock content %}