{% extends "info_manage/base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>家庭成员</title>
        <style>
            body {
                text-align: center;
            }
            table {
                width: 100%;
                height: 200px;
            }
        </style>
    </head>

    <body>
    <h3>家庭成员信息</h3><br />
    <div>
        <table border="1">
            <tr>
                <td style="width: 50px">姓名</td>
                <td></td>
                <td style="width: 60px">年龄</td>
                <td></td>
            </tr>
            <tr>
                <td>与本人关系</td>
                <td></td>
                <td>工作单位</td>
                <td></td>
            </tr>
            <tr>
                <td>备注</td>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>
    <div>
        <br><button><a href="#">增加成员信息</a></button>
    </div>
    </body>
    </html>
{% endblock content %}