{% extends "info_manage/base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>学籍信息</title>
        <style>
            h3 {
                text-align: center;
            }
            table {
                width: 100%;
                text-align: center;
            }
            table tr td {
                height: 60px;
            }
        </style>
    </head>

    <body>
    <h3>学籍信息</h3><br />
    <div>
        <table border="1">
            <tr>
                <td style="width: 70px">姓名</td>
                <td></td>
                <td style="width: 70px">民族</td>
                <td></td>
                <td style="width: 70px">籍贯</td>
                <td></td>
                <td style="width: 70px">分院</td>
                <td></td>
            </tr>
            <tr>
                <td>性别</td>
                <td></td>
                <td>外语语种</td>
                <td></td>
                <td>出生日期</td>
                <td></td>
                <td>院系</td>
                <td></td>
            </tr>
            <tr>
                <td>学号</td>
                <td></td>
                <td>班级</td>
                <td></td>
                <td>班主任</td>
                <td></td>
                <td>毕业中学</td>
                <td></td>
            </tr>
            <tr>
                <td>当前年级</td>
                <td></td>
                <td>高考总分</td>
                <td></td>
                <td>英文名</td>
                <td></td>
                <td>专业方向</td>
                <td></td>
            </tr>
            <tr>
                <td>学制</td>
                <td></td>
                <td>培养方式</td>
                <td></td>
                <td>入学日期</td>
                <td></td>
                <td>注册状态</td>
                <td></td>
            </tr>
            <tr>
                <td>授予学位</td>
                <td></td>
                <td>考生号</td>
                <td></td>
                <td>是否在校</td>
                <td></td>
                <td>身份证号</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div>
        <a href="#"><br>打印学籍证明</a>
    </div>
    </body>
    </html>
{% endblock content %}